In [1]:
# Load and inspect data
import pandas as pd

url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6944 non-null   object
 1   Year            6942 non-null   float64
 2   Type            6926 non-null   object
 3   Country         6894 non-null   object
 4   State           6462 non-null   object
 5   Location        6379 non-null   object
 6   Activity        6358 non-null   object
 7   Name            6724 non-null   object
 8   Sex             6365 non-null   object
 9   Age             3950 non-null   object
 10  Injury          6909 non-null   object
 11  Unnamed: 11     6382 non-null   object
 12  Time            3418 non-null   object
 13  Species         3812 non-null   object
 14  Source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [3]:
df = df.dropna(subset=['Type', 'Time', 'Age',  'Injury', 'Activity'],how='all') # Drop NaN "State","Date","Type" -- Rows

In [4]:
df.duplicated().any() # Check for Duplicates

False

In [5]:
df["Type"].unique()

array(['Unprovoked', ' Provoked', 'Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

In [6]:
import numpy as np
# Cleaning "Type" column.

df["Type"] = df["Type"].str.strip()
df["Type"] = df["Type"].replace(['Unverified', 'Questionable', 'Under investigation'], 'Unconfirmed')
df["Type"] = df["Type"].replace('?', np.nan)

C:\Users\Srnzzz\AppData\Local\Temp\ipykernel_14740\1842518362.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Type"] = df["Type"].str.strip()
C:\Users\Srnzzz\AppData\Local\Temp\ipykernel_14740\1842518362.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Type"] = df["Type"].replace(['Unverified', 'Questionable', 'Under investigation'], 'Unconfirmed')
C:\Users\Srnzzz\AppData\Local\Temp\ipykernel_14740\1842518362.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Type"] = df["Type"].replace('?', np.nan)

In [7]:
df["Type"].unique()  # New Uniques

array(['Unprovoked', 'Provoked', 'Unconfirmed', 'Watercraft',
       'Sea Disaster', nan, 'Invalid', 'Boat'], dtype=object)

In [8]:
df["Injury"].unique()

array(['Minor injuries to back, abdomen and legs',
       'No injury, shark bit surfboard', 'Lacerations to left foot', ...,
       'FATAL, leg stripped of flesh  ',
       'FATAL, knocked overboard by tail of shark & carried off by shark ',
       'FATAL. "Shark bit him in half, carrying away the lower extremities" '],
      dtype=object)

In [9]:
# Cleaning "Injury" column.
df["Injury"] = df["Injury"].str.strip()
# rename to fatal if fatal is in string
df["Injury"] = df["Injury"].apply(lambda x: "Fatal" if pd.notna(x) and "FATAL" in x.upper() and "NOT FATAL" not in x.upper() else x)

# rename non Fatal if "Fatal" not in string
df["Injury"] = df["Injury"].apply(lambda x: "Non-Fatal" if x != "Fatal" else x)

C:\Users\Srnzzz\AppData\Local\Temp\ipykernel_14740\1271618090.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Injury"] = df["Injury"].str.strip()
C:\Users\Srnzzz\AppData\Local\Temp\ipykernel_14740\1271618090.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Injury"] = df["Injury"].apply(lambda x: "Fatal" if pd.notna(x) and "FATAL" in x.upper() and "NOT FATAL" not in x.upper() else x)
C:\Users\Srnzzz\AppData\Local\Temp\ipykernel_14740\1271618090.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Injury"] = df["Injury"].apply(lambda x: "Non-Fatal" if x != "Fatal" else x)

In [10]:
df["Injury"].unique() # Test Cleaning

array(['Non-Fatal', 'Fatal'], dtype=object)

In [11]:
df["Injury"].value_counts()  # Test

Injury
Non-Fatal    5512
Fatal        1432
Name: count, dtype: int64

In [18]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [13]:
df.isna().sum()

Date                 0
Year                 2
Type                19
Country             50
State              482
Location           565
Activity           586
Name               220
Sex                579
Age               2994
Injury               0
Unnamed: 11        562
Time              3526
Species           3132
Source              19
pdf                145
href formula       150
href               148
Case Number        146
Case Number.1      147
original order     145
Unnamed: 21       6943
Unnamed: 22       6942
dtype: int64

# Findings

1. Species column has most of the values as null
2. Time stamp in Time coloumn is different
3. Name column has values in of sex(male, female) other than the actual name
4. Injury columns has many FATAL name injuries
5. ALl rows in cloumns have some null values
6. Age column should be numeric 
7. Age column has no numbers it is fllowed by string values 
8.  All the below columns are null/empty
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object‚

9. There are no lables for 3 columns-- Unnamed: 11 , Unnamed: 21, Unnamed: 22
10. Many duplicate values in some of the columns

---
"Dates" 
Different formats, '15 Mar 2024' / '1883-1889' / nan / "0"
---
"Year"
Just three weird values
---
"Type"
Unprovoked', ' Provoked', 'Provoked', 'Questionable', 'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation', 'Boat'
---
"Country"
Country name USA not unified, some NaN values
---
"Location"
Some numbers and NaN values instead of city/location names
---
"Activity"

---
"Name"
A wild mix of different attributes
---
"Sex"
Mostly M anf F, rest can probably be deleted
---
"Age"
Some ranges and words, mostly numbers of ages though
---
"Activity"

In [14]:
## five data cleaning techniques
# 1.Identify missing values, outliers, and inconsistencies.
# 2.Clean missing data, remove duplicates, standardize text.
# 3.Handle outliers and convert data types.
# 4.Create new features, normalize data, and encode categorical variables.
# 5.Save the cleaned and transformed dataset.

In [ ]:
##### Sören  'Time', 'Age', 'Activity'

In [24]:
# unique_values = 'Early Morning', 'Morning', 

df["Time"].unique()

array(['16h00', nan, '13h30', '11h30', '06h30', '20h00', '13h00', '11h12',
       '16h30', '15h00', '02h00', '09h15', 'Early Morning', '16h32',
       '11h00', 'Morning', '10h30', '13h20', '14h00', '09h00', '10h20',
       '15h05', '17h00', '15h45', '07h45', '10h40', '07h50', '01h00',
       '10h00', 'Afternoon', '19h30', 'Evening', '17h50', '09h30',
       '15h30', '08h45', '"Midday"', '16h25', '13h55', '13h50', '17h20',
       '13h45', '10h10', '14h35', 'Night', '19h15', '11h20', '07h15',
       '07h00', '18h00', '12h30', '08h00', '14h20', '17h30', '07h20',
       '14h50', '-16h30', '12h00', '17h17', '11h15', '19h00', '07h53',
       '16h10', '11h17', '17h45', '10jh45', 'Early  morning', '13h12',
       '07h30', '11hoo', '11h43', '10h15', '14h09', '12h15', '19h12',
       '15h20', '16h40', '11h24', '12h50', '07h31', '14h45', '19h20',
       'Dusk', '11h45', '06h40', '`17h00', '07h51', '11h46', '20h30',
       '12h23', '07h07', '16h39', '15h57', '14h30', '16h45', '10j30',
       '08h15', '08h56', '15h40', '18h30', '07h58', '17h40',
       '09h00-10h00', '17h10', '09h36', '08h40', '06h00', 'Sunset',
       '10h45', 1415, '14h00-15h00', '14h15', '09h08', '15h59', '08h30',
       '12h20', '10h50', 'Midday', '09h40', '14h33', '12h58', '"Evening"',
       '16h15', '23h00', '06h50', '12h45', '11h55', '22h20', '08h48',
       '16h21', '16h26', '18h45', '03h00', '13h40', '06h15',
       'Before 10h00', '06h45', 'Early afternoon', '06h55', '13h42',
       '13h15', '09h29', '10h47', '14h11', '15h35', '14h40',
       '14h00  -15h00', 'Late afternoon', '16h50', '21h50', '17h35',
       '19h00, Dusk', '15h01', '23h30', '10h44', '13h19',
       'Shortly before 12h00', '17h34', '08h50', '09h50', '9h00', '10h43',
       'After noon', '15h15', '19h05', 1300, '14h30 / 15h30', '22h00',
       '16h20', '14h34', '15h25', '14h55', '17h46', 'Morning ', '15h49',
       'Midnight', '09h30 / 10h00', '18h15', '04h00', '10h25',
       '10h45-11h15', '15h52', '19h45', '12h10', '18h05', '11h41',
       '12h25', '17h51', '16h12', '09h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '16h18', '11h10',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '15h19', '10h55', '15h55', '12h40', '16h05', '14h10', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56',
       'Just before noon', '07h56', '1600', '16h35', '09h05', '19h28',
       '12h38', '05h50', '15h50', '11h05', 'Early morning', 'Dawn',
       '05h45', '13h25', '13h26', '09h11', '18h20', 'AM', '13h51', 'A.M.',
       '08h05', '10h35', '15h44', '21h00', 'Lunchtime', '15j45', '09h35',
       '10h27', '10h16', '0500', 'Before 07h00', '09h20',
       '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '20h15', '12h39', '07h05', '  ',
       '13h05', 'N', '11h50', 'Just before sundown', '17h55', '22h30',
       '17h15', '11h30 ', '06h10', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '>08h00', '--', '12h02', '12h55', '16h14',
       '17h11', '00h30', '14h37', '10h07', '13h53', '13h23',
       'Just after 12h00', '02h30', '11h56', ' ',
       'Shortly after midnight', '14h25', '13h345', '\xa0 ', '06h47',
       '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.', '18h40',
       '13h14', '13h06', 'Shortly before 13h00', '12h34', '11h53',
       '8:04 pm', '12h46', '12h48', '17h42', '12h35',
       'Possibly same incident as 2000.08.21', 'After Dusk', '11h57',
       'Noon', '11h25', '18h25', '10h28', '14h16', '09h55',
       '2 hours after Opperman', '09h30 ', 'Mid afternoon', 'Mid morning',
       '11h48', '11h00 / 11h30', '07h19', '13h37', '11h06', '"Night"',
       '18h30?', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', 'Dark', '10h00 / 11h00',
       '"After lunch"', '07h32', '15h00 or 15h45', '>17h00',
       '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night',
       '03h45 - 04h00', '13h10', '09h30 / 15h30', '08h00 / 09h30',
       '19h35', '12h00 to 14h00', '13h35', 'Late night', '01h32',
       '10h30 or 13h30', '16h23', '15h00j', 'Midday.', '"After dark"',
       '10h00 or 14h00', '19h10', '2 hrs before sunset', '18h15 to 21h30',
       1500, '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [ ]:
import re

time_list = list(df["Time"].unique())
pattern = r'\d{2}h\d{2}'

time_list = [item for item in time_list if isinstance(item, str) and re.search(pattern, item)]
# time_list = [item.split() for item in time_list]

# time_list = df['Time'].str.contains(r'\d{2}h\d{2}', regex=True)
time_list


replaced_list = []

for time in time_list:
    if "-" in time:
        replaced_list.append(time)

replaced_list

df["Time"] = df["Time"].replace({'-16h30':'16h30',
 '09h00-10h00':'09h30',
 '14h00-15h00':'14h30',
 '14h00  -15h00':'14h30',
 '10h45-11h15':'11h00',
 '07h00 - 08h00':'07h30',
 '18h15-18h30':'18h30',
 '09h00 - 09h30':'09:15',
 '10h00 -- 11h00':'10h30',
 '09h00 -10h00':'09h30',
 '14h00 - 15h00':'14h40',
 '03h45 - 04h00':'04h00',
 '11h01 -time of ship sinking':'11h00',
 'Ship aban-doned at 03h10':'03h00',
 '06h00 -- 07h00':'06h30',
 '17h00-18h00':'17h30',
 '19h00-20h00':'19h30'})

df["Time"].unique()

replaced_list_1 = []


for time in df["Time"]:
    # Check if the 'time' is not NaN and does not match the pattern using re.search()
    if pd.notna(time) and not re.search(pattern, str(time)):  # Check for NaN and regex match
        replaced_list_1.append(time)

len(replaced_list_1)
set(replaced_list_1)

df["Time"] = df["Time"].replace({
 '"After dark"':'21h30',
 '"After lunch"':'13h00',
 '"Early evening"':'18h00',
 '"Evening"':'20h00',
 '"Midday"':'12h00',
 '"Night"':'22h00',
 '"shortly before dusk"':'06h00',
 'After Dusk':'09h00',
 'After dusk':'09h00',
 'After midnight':'01h00',
 'After noon':'13h00',
 'Afternoon':'15h00',
 'Before daybreak':'06h00',
 'Dark':'22h00',
 'Dawn':'20h00',
 'Daybreak':'08h00',
 'Daytime':'12h00',
 'Dusk':'08:00',
 'Early  morning':'07h00',
 'Early Morning':'07h00',
 'Early afternoon':'14h00',
 'Early morning':'07h00',
 'Evening':'20h00',
 'Just before dawn':'20h00',
 'Just before noon':'11h00',
 'Just before sundown':'19h00',
 'Late Afternoon':'17h00',
 'Late afternon':'17h00',
 'Late afternoon':'17h00',
 'Late morning':'10h00',
 'Late night':'23h00',
 'Lunchtime':'12h00',
 'Mid afternoon':'15h00',
 'Mid morning':'15h00',
 'Mid-morning':'15h00',
 'Midday':'12h00',
 'Midday.':'12h00',
 'Midnight':'24h00',
 'Morning':'08:00',
 'Morning ':'08:00',
 'Night':'22:00',
 'Nightfall':'21:00',
 'Noon':'12h00',
 'Shortly after midnight':'01:00',
 'Sunset':'20h00',
 'dusk':'08h00',
 'night':'22h00','01:00':'01h00',
 '0500':'05h00',
 '06j00':'22h00',
 '0830':'08h30',
 '08:00':'08h00',
 '09:15':'09h15',
 '10j30':'10h30',
 '10jh45':'10h45',
 '11hoo':'11h00',
 1300:'13h00',
 1415:'14h15',
 1500:'15h00',
 '15j45':'15h45',
 '1600':'16h00',
 '20:00':'20h00',
 '21:00':'21h00',
 '22:00':'22h00',
 '8:04 pm':'20h00'})

df["Time"].unique()

for time in df["Time"]:
    # Check if the 'time' is not NaN and does not match the pattern using re.search()
    if pd.notna(time) and not re.search(pattern, str(time)):  # Check for NaN and regex match
        replaced_list_1.append(time)

set(replaced_list_1)

In [ ]:
pattern = r'\d{2}h\d{2}'

matched_items = [item for item in time_list if re.search(pattern, item)]